* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container{
    background-color: hsl(23, 100%, 54%);
    color: white;
    padding: 30px;
    text-align: center;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
}

/* regole primo blocco header */
.header-block1{
    /* DEBUG */
    /* background-color: blue; */

    justify-content: center;
    align-items: center;
    font-size: 15px;
    height: 30px;
    width: 20%;
    display: flex;
}

/* regole secondo blocco header */
.header-block2{
    /* DEBUG */
    /* background-color: blue; */
    
    justify-content: center;
    height: 30px;
    width: 20%;
    display: flex;
}

/* regole terzo blocco header */
.header-block3{
    /* DEBUG */
    /* background-color: blue; */
    
    height: 30px;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* regole tutti i prodotti */
.all-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 30px;
}

.product{
    /* DEBUG */
    /* background-color: blueviolet;  */
    /* height: 100px; */
    /* border: 3px black solid; */
    
    max-width: 40%;
    width: 30%;
    margin-bottom: 30px;    
}

/* dimesione immagini prodotti */
.product img{
    max-width: 100%;
}
/* regole testo prodotti */
.text-below{
    display: flex;   
}

/* regole prezzo corrente */
.current-price{
    color: orangered;
    float: left;
}
/* regole sconto */
.discount{
    float: left;
    margin-left: 10px;
    text-decoration: line-through;
}

.Discount-lable{
    width: 5%;
    padding: 8px;
    background-color: orangered;
    text-align: center;
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 700px;
}

.Discount-lable2{
    width: 5%;
    padding: 8px;
    background-color: orangered;
    text-align: center;
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 1450px;
}

.lable-sostenibilità{
    width: 10%;
    padding: 8px;
    background-color: rgb(79, 168, 34);
    text-align: center;
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 700px;
    right: 1260px;
}

.lable-sostenibilità2{
    width: 10%;
    padding: 8px;
    background-color: rgb(79, 168, 34);
    text-align: center;
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 1450px;
    right: 1260px;
}

.lable-sostenibilità3{
    width: 10%;
    padding: 8px;
    background-color: rgb(79, 168, 34);
    text-align: center;
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 1450px;
}

.heart{
    font-size: 40px;
    position: absolute;
    top: 150px;
    left: 427px;
    padding: 15px;
    background-color: #fff;
}

.heart2{
    font-size: 40px;
    position: absolute;
    top: 900px;
    left: 427px;
    
    padding: 15px;
    background-color: #fff;
}

.img-b{
position: absolute;
top: 120px;
left: 25px;
max-width: 30%;
display: none;
}

.product:hover .img-b{
    display: block;
}

.img-b2{
    position: absolute;
    top: 120px;
    left: 530px;
    max-width: 30%;
    display: none;
}

.product:hover .img-b2{
    display: block;
}

.img-b3{
    position: absolute;
    top: 120px;
    left: 1038px;
    max-width: 30%;
    display: none;
}

.product:hover .img-b3{
    display: block;
}

.img-b4{
    position: absolute;
    top: 870px;
    max-width: 30%;
    display: none;
}

.product:hover .img-b4{
    display: block;
}

.img-b5{
    position: absolute;
    top: 870px;
    max-width: 30%;
    display: none;
}

.product:hover .img-b5{
    display: block;
}

.img-b6{
    position: absolute;
    top: 870px;
    max-width: 30%;
    display: none;
}

.product:hover .img-b6{
    display: block;
}


/* regole footer */
footer{
    height: 80px;
    background-color: black;
    padding: 30px;
    text-align: center;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* regole primo blocco footer */
.footer-block1{
    background-color: blue;
    height: 30px;
    width: 20%;
    display: flex;
}

/* regole secondo blocco footer */
.footer-block2{
    background-color: blue;
    height: 30px;
    width: 20%;
    display: flex;
}